body {
	background-color:#648DAC;
	height:100%;
	font-family: 'Lato', sans-serif;
	margin:0px;
	padding:0px;
}
.fa-apple {
	color:white;
	padding-left:20%;
	padding-top:30px;
}
.navbar {
	display:inline-block;
	font-family:;
	color:white;
	margin-right:20%;
	padding-top:50px;
	float:right;
	font-size:15px;
}
.navbartext {
	display:inline-block;
	margin: 0px 7px -10px 7px;
	padding-top:0px
}
a:link {
    text-decoration: none;
    color:white;
}
a:visited {
    text-decoration: none;
    color:white;
}

a:hover { 
    color:grey;
}
.devices {
	height:270px; 
	width:485px;
	display:inline-block;
	padding-left:348px;
	padding-top:40px;
}
.iconnavs {
	width:100%;
	padding:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:25px;
	display:inline-flex;
}
.macair{
	display:inline-block;
	width:25%;
	background-color:#DBDBDB;
	height:200px;
	text-align:center;
	float:left;
	margin:0%;
	float:;
}
.ipad {
	display:inline-block;
	width:25%;
	height:200px;
	text-align:center;
	background-color:#BDB9AB;
	margin:0px;
	float:left;
	padding:;
}
.iphonex {
	display:inline-block;
	width:25%;
	background-color:#9CE0D2;
	height:200px;
	margin-left:0px;
	text-align:center;
	margin-right:0px;
	float:left;
	padding:;
}
.about {
	display:inline-block;
	width:25%;
	height:200px;
	text-align:center;
	float:left;
	background-color:#9FAFC1;
	margin-left:0px;
	padding:;
}
.fa-laptop {
	padding-top:40px;
}
.fa-tablet {
	padding-top:40px;
}
.fa-mobile {
	padding-top:40px;
}
.fa-question-circle-o {
	padding-top:40px;
}
.textnavs {
	padding-top:30px;
	font-size:18px;
}
.ipadleft {
	width:50%;
	display:inline-block;
	background-color:#BFD6DF;
	margin:0px;
	text-align:center;
	height:300px;
}
.ipadright {
	background-color:#9FAFC1;
	display:inline-block;
	margin:0px;
	float:right;
	color:white;
	line-height:1.5;
	text-indent:20px;
	width:50%;
	height:300px;

}
.tabletpic {
	width:230px;
	height:230px;
	padding-top:35px;
}
.divtext {
	padding:25px;
}
.iphonexleft {
	width:50%;
	height:300px;
	float:right;
	display:inline-block;
	background-color:#BFD6DF;
	text-align:center;

}
.iphonexright {
	width:50%;
	height:300px;
	color:white;
	background-color:#BDB9AB;
	display:inline-block;
	line-height:1.5;
	color:white;
	text-indent:20px;
}
.iphonepic {
	width:230px;
	height:230px;
	padding-top:35px;

}
.macleft {
	width:50%;
	height:300px;
	float:left;
	display:inline-block;
	background-color:#BFD6DF;
	text-align:center;
}
.macright {
	width:50%;
	height:300px;
	color:white;
	text-indent:20px;
	line-height:1.5;
	float:right;
	display:inline-block;
	background-color:#FAA58A;
}
.macpic {
	height:230px;
	width:230px;
	padding-top:35px;
}
.team {
	width:33.33333%;
	height:180px;
	background-color:#9FAEC1;
	display:inline-block;
	text-align:center;
	float:left;
	margin:0;
}
.salary {
	width:33.33333%;
	height:180px;
	background-color:#BDB9AB;
	display:inline-block;
	float:left;
	text-align:center;
	margin:0;
}
.earnings {
	width:33.33333%;
	height:180px;
	background-color:#9CE0D2;
	display:inline-block;
	text-align:center;
	float:left;
	margin:0;
}
#divtextwhite {
	text-indent:20px;
	padding:20px;
	color:white;
}
.sociallinks {
	width:100%;
	height:200px;
	text-align:center;
	display:inline-block;
	margin:0;
	padding:0;
}
.footer {
	height:100px;
	width:100%;
	background-color:#57495A;
	display:inline-block;
	color:white;
	text-align:center;
}
.fa-facebook {
	color:white;
	padding:80px 50px;

}
.fa-facebook:hover {
	color:grey;
}
.fa-google-plus {
	color:white;
	padding:80px 50px;
}
.fa-google-plus:hover {
	color:grey;
}
.fa-twitter {
	color:white;
	padding:80px 50px;
}
.fa-twitter:hover {
	color:grey;
}
.fa-youtube-play {
	color:white;
	padding:80px 50px;
}
.fa-youtube-play:hover {
	color:grey;
}
.fa-instagram {
	color:white;
	padding:80px 50px;
}
.fa-instagram:hover {
	color:grey;
}
.footertext {
	padding-top:25px;
}